.contactsWrap {
  color: #ffffff;
  padding: 6rem 0 0;
  position: relative; }
  .contactsWrap .header {
    text-align: center;
    color: #ffffff;
    font-family: PFDinTextCondPro;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.2rem; }
    .contactsWrap .header h1 {
      margin: 0 0 0.5rem; }
  .contactsWrap .map iframe {
    width: 100%;
    height: 25rem; }
  .contactsWrap .footer {
    width: 100%;
    background: #ffffff; }
    .contactsWrap .footer .footerContent {
      margin: 0 auto;
      padding: 40px 0;
      width: 54rem;
      color: #231f20; }
      .contactsWrap .footer .footerContent h5 {
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1;
        margin: 0; }
      .contactsWrap .footer .footerContent p {
        font-weight: 200;
        line-height: 1;
        margin: 0; }
      .contactsWrap .footer .footerContent .newProductsInfo {
        float: left;
        width: 30%;
        margin-right: 5%; }
        .contactsWrap .footer .footerContent .newProductsInfo .newProductsLogo {
          margin-bottom: 40px; }
      .contactsWrap .footer .footerContent .address {
        float: left;
        width: 15%;
        margin-right: 5%; }
      .contactsWrap .footer .footerContent .importer {
        float: left;
        width: 20%;
        margin-right: 5%; }
      .contactsWrap .footer .footerContent .exportDepartment {
        float: left;
        width: 20%; }
