@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/modules/_animations.scss';

@include font-face(PFDinTextCondPro, '#{$font_path}PFDinTextCondPro-Medium/_', 500);
@include font-face(PFDinTextCondPro, '#{$font_path}PFDinTextCondPro-Thin/_', 200);
@include font-face(PFDinTextCompPro, '#{$font_path}PFDinTextCompPro-Thin/_', 200);
@include font-face(PFDinTextPro, '#{$font_path}PFDinTextPro-Light/_', 100);
@include font-face(PFDinTextPro, '#{$font_path}PFDinTextPro-Thin/_', 200);

*,
*:before,
*:after {
	margin: 0;
	@include box-sizing(border-box);
}

html {
	font-size: 16px;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 42rem;
}

body {
	font-family: PFDinTextCondPro;
	min-width: 1000px;
	position: relative;
}

.clearfix {
	@include clearfix;
}

module {
	display: none;
	min-height: 100%;

	@extend %bg-image-cover;
	background-image: url('#{$img_path}introBg.jpg');	

	&.active {
		display: block;
	}


	.moduleContent {
		height: 100%;
		position: relative;
	}
}

.module {
	&:hover {
		cursor: pointer;

		p, span, h1, h2, h3, h4, h5, h6 {
			cursor: pointer;
		}
	}
}

.content {
	width: 54rem;
	margin: 0 auto;

	position: relative;	
}

/* 
	Text styles
*/

.text-bold {
	font-weight: 500;
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.text-justify {
	text-align: justify
}

.text-nowrap {
	white-space: nowrap
}

.text-lowercase {
	text-transform: lowercase
}

.text-uppercase {
	text-transform: uppercase
}

.text-capitalize {
	text-transform: capitalize
}

@import '../../../../../scss/framework/_grid.scss';
