header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

header #logo, header .soundIcon, header .shakeMix:before, header .playBtn {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

header .soundIcon, header .menuIcon, header .line, header .shakeMix:before {
  display: inline-block;
  vertical-align: middle; }

header {
  position: absolute;
  top: 0;
  height: 5rem;
  width: 100%;
  color: #fff;
  font-family: PFDinTextCondPro;
  z-index: 18; }
  header.opened {
    background-image: url("/img/user/introBg.jpg"); }
  header #logo {
    height: 5.5rem;
    width: 13.3rem;
    background-image: url("/img/user/logo.png");
    position: absolute;
    top: 0;
    left: 0; }
  header .menuWrap {
    width: 25rem;
    margin: 0 auto;
    padding-top: 1.85rem;
    padding-left: 3.1rem; }
  header .icons {
    float: left;
    width: 50%;
    text-align: right; }
  header .soundIcon {
    height: 1.4rem;
    width: 1.2rem;
    background-image: url("/img/user/sound.png");
    position: relative; }
    header .soundIcon.muted:after {
      content: '';
      display: block;
      position: absolute;
      height: 1.7rem;
      width: 1.7rem;
      top: -0.1rem;
      left: -0.2rem;
      background-image: url("/img/user/soundMuted.png");
      -webkit-background-size: cover;
      background-size: cover; }
  header .langsWrap {
    display: inline-block;
    padding: 0 0 0 1rem;
    vertical-align: middle; }
    header .langsWrap .isoLang {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: inline-block;
      margin: 0 0.1rem;
      padding: 0.3rem 0 0;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none; }
  header .menuIcon {
    -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    position: relative;
    cursor: pointer;
    height: 3px;
    width: 1.2rem;
    margin: 0 0 0 0.5rem;
    background: #fff; }
    header .menuIcon:before, header .menuIcon:after {
      -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #ffffff;
      position: absolute; }
    header .menuIcon:before {
      -webkit-transform: translateY(-250%);
      -moz-transform: translateY(-250%);
      -ms-transform: translateY(-250%);
      -o-transform: translateY(-250%);
      transform: translateY(-250%); }
    header .menuIcon:after {
      -webkit-transform: translateY(250%);
      -moz-transform: translateY(250%);
      -ms-transform: translateY(250%);
      -o-transform: translateY(250%);
      transform: translateY(250%); }
  header.opened .menuIcon {
    background-color: transparent; }
    header.opened .menuIcon:before {
      -webkit-transform: translateY(0) rotate(45deg);
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -o-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    header.opened .menuIcon:after {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }
  header .line {
    margin: 0 -0.1rem 0 0.6rem;
    height: 1rem;
    width: 3px;
    background: #ffffff; }
  header .control {
    float: left;
    width: 50%;
    padding: 0.25rem 0 0 0.8rem; }
  header .menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    cursor: pointer; }
  header .shakeMixWrap {
    position: absolute;
    right: 1.92rem;
    top: 1.6rem; }
    header .shakeMixWrap .podcast {
      text-align: right;
      position: absolute;
      right: 0;
      top: 2.5rem; }
  header .shakeMix {
    position: relative;
    font-weight: 200;
    font-size: 1.8rem; }
    header .shakeMix:before {
      height: 2.3rem;
      width: 2.4rem;
      margin-right: 0.05em;
      background-image: url("/img/user/soundWave.png");
      content: ''; }
    header .shakeMix .mixLabel {
      top: 0.2rem;
      left: -0.25rem;
      position: relative; }
  header .playBtn {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url("/img/user/play.png");
    position: absolute;
    right: -1.92rem;
    top: 0.35rem; }
    header .playBtn.paused {
      background-image: url("/img/user/pause.png"); }
    header .playBtn:hover {
      cursor: pointer; }
  header .pages {
    display: none;
    width: 100%;
    position: absolute;
    top: 9.2rem; }
    header .pages a.module {
      width: 20rem;
      margin: 0 auto;
      display: block;
      color: #fff;
      text-align: center;
      font-size: 5.5rem;
      line-height: 90%;
      text-decoration: none;
      letter-spacing: -4px; }
      header .pages a.module:hover {
        text-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff, 0 0 8px #ffffff, 0 0 16px #ffffff; }
    header .pages .socialButtons {
      text-align: center;
      padding-top: 4rem; }
  header.opened {
    z-index: 15; }
    header.opened .pages {
      display: block; }
