doctype html
html
	head
		title Shake coctails
		style.
			* {
				margin: 0;
				padding: 0;
			}
			html, body {
				height: 100%;
				width: 100%;
				background-image: url("/img/user/introBg.jpg");
				background-position: center center;
				color: #fff;
			}
			h1 {
				position: relative;
				top: 48%;
				text-align: center;
			}
	body
		h1= "Ваш браузер технично и морально устарел"