doctype html
html(lang="ru")
	head
		title Shake coctails
	body(class="#{data.lang}")

		script(data-main="/js/app/user/core/core.js" src='/js/lib/require.js')
		script.
			window['data'] = !{JSON.stringify(data)};