doctype html
html(lang="#{data.lang}")
	head
		link(rel="shortcut icon" href="/img/user/favicon.ico" type="image/x-icon")
		title Shake coctails
		style.
			#preloader {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 100;
				background: #000000;
			}
			#preloader img {
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -100px 0 0 -100px;
				width: 200px;
				height: 200px;
			}
	body(class="#{data.lang}")
		div#preloader
			img(src="/img/user/loader.gif")
		script(data-main="/js/app/user/core/core.js" src='/js/lib/require.js')
		script.
			window['data'] = !{JSON.stringify(data)};