
@media (min-width: 1150px) {
	html {
		font-size: 15px;
	}
}
@media (min-width: 1366px) {
	html {
		font-size: 16px;
	}
}
@media (min-width: 1440px) {
	html {
		font-size: 17px;
	}
}
@media (min-width: 1536px) {
	html {
		font-size: 18px;
	}
}
@media (min-width: 1600px) {
	html {
		font-size: 19px;
	}
}
@media (min-width: 1680px) {
	html {
		font-size: 20px;
	}
}
@media (min-width: 1920px) {
	html {
		font-size: 22px;
	}
}