module {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@font-face {
  font-family: PFDinTextCondPro;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/PFDinTextCondPro-Medium/_.eot");
  src: url("/fonts/PFDinTextCondPro-Medium/_.eot?#iefix") format("embedded-opentype"), url("/fonts/PFDinTextCondPro-Medium/_.woff") format("woff"), url("/fonts/PFDinTextCondPro-Medium/_.ttf") format("truetype"), url("/fonts/PFDinTextCondPro-Medium/_.svg#PFDinTextCondPro") format("svg"); }
@font-face {
  font-family: PFDinTextCondPro;
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/PFDinTextCondPro-Thin/_.eot");
  src: url("/fonts/PFDinTextCondPro-Thin/_.eot?#iefix") format("embedded-opentype"), url("/fonts/PFDinTextCondPro-Thin/_.woff") format("woff"), url("/fonts/PFDinTextCondPro-Thin/_.ttf") format("truetype"), url("/fonts/PFDinTextCondPro-Thin/_.svg#PFDinTextCondPro") format("svg"); }
@font-face {
  font-family: PFDinTextCompPro;
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/PFDinTextCompPro-Thin/_.eot");
  src: url("/fonts/PFDinTextCompPro-Thin/_.eot?#iefix") format("embedded-opentype"), url("/fonts/PFDinTextCompPro-Thin/_.woff") format("woff"), url("/fonts/PFDinTextCompPro-Thin/_.ttf") format("truetype"), url("/fonts/PFDinTextCompPro-Thin/_.svg#PFDinTextCompPro") format("svg"); }
@font-face {
  font-family: PFDinTextPro;
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/PFDinTextPro-Light/_.eot");
  src: url("/fonts/PFDinTextPro-Light/_.eot?#iefix") format("embedded-opentype"), url("/fonts/PFDinTextPro-Light/_.woff") format("woff"), url("/fonts/PFDinTextPro-Light/_.ttf") format("truetype"), url("/fonts/PFDinTextPro-Light/_.svg#PFDinTextPro") format("svg"); }
@font-face {
  font-family: PFDinTextPro;
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/PFDinTextPro-Thin/_.eot");
  src: url("/fonts/PFDinTextPro-Thin/_.eot?#iefix") format("embedded-opentype"), url("/fonts/PFDinTextPro-Thin/_.woff") format("woff"), url("/fonts/PFDinTextPro-Thin/_.ttf") format("truetype"), url("/fonts/PFDinTextPro-Thin/_.svg#PFDinTextPro") format("svg"); }
*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

html, body {
  width: 100%;
  height: 100%;
  min-height: 42rem; }

body {
  font-family: PFDinTextCondPro;
  min-width: 1000px;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

module {
  display: none;
  min-height: 100%;
  background-image: url("/img/user/introBg.jpg"); }
  module.active {
    display: block; }
  module .moduleContent {
    height: 100%;
    position: relative; }

.module:hover {
  cursor: pointer; }
  .module:hover p, .module:hover span, .module:hover h1, .module:hover h2, .module:hover h3, .module:hover h4, .module:hover h5, .module:hover h6 {
    cursor: pointer; }

.content {
  width: 54rem;
  margin: 0 auto;
  position: relative; }

/* 
	Text styles
*/
.text-bold {
  font-weight: 500; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

@media (min-width: 1150px) {
  html {
    font-size: 15px; } }
@media (min-width: 1366px) {
  html {
    font-size: 16px; } }
@media (min-width: 1440px) {
  html {
    font-size: 17px; } }
@media (min-width: 1536px) {
  html {
    font-size: 18px; } }
@media (min-width: 1600px) {
  html {
    font-size: 19px; } }
@media (min-width: 1680px) {
  html {
    font-size: 20px; } }
@media (min-width: 1920px) {
  html {
    font-size: 22px; } }
