.podcastsWrap .allPodcasts .playlist .centralContent {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.podcastsWrap .allPodcasts .playlist .centralContent .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.podcastsWrap {
  color: #ffffff;
  padding: 6rem 0 3rem;
  position: relative;
  width: 54rem;
  margin: 0 auto; }
  .podcastsWrap .header {
    text-align: center;
    color: #ffffff;
    font-family: PFDinTextCondPro;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.2rem; }
    .podcastsWrap .header h1 {
      margin: 0;
      line-height: 1; }
      .podcastsWrap .header h1 span {
        font-weight: 300;
        font-size: 4.6rem;
        margin-left: -0.8rem; }
  .podcastsWrap .subheader {
    text-align: center;
    display: block;
    color: #ffffff;
    font-family: PFDinTextCondPro;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem 0; }
    .podcastsWrap .subheader h3 {
      font-weight: 300;
      margin: 0;
      line-height: 1; }
      .podcastsWrap .subheader h3:hover {
        text-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff, 0 0 8px #ffffff, 0 0 16px #ffffff;
        cursor: pointer; }
  .podcastsWrap .allPodcasts .playlist {
    float: left;
    width: 16rem;
    margin-right: 3rem;
    margin-bottom: 2rem; }
    .podcastsWrap .allPodcasts .playlist:nth-child(3n) {
      margin-right: 0; }
    .podcastsWrap .allPodcasts .playlist .stripe {
      width: 100%;
      height: 5px;
      background: #ff3500;
      margin-bottom: 1px; }
    .podcastsWrap .allPodcasts .playlist .centralContent {
      position: relative;
      width: 100%;
      height: 16rem; }
      .podcastsWrap .allPodcasts .playlist .centralContent .logo {
        height: 4em;
        width: 4em;
        margin-left: -2em;
        left: 50%;
        position: relative;
        top: 0.8rem;
        background-image: url("/img/user/introLogo.png"); }
      .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper {
        position: absolute;
        z-index: 1;
        left: 50%;
        margin-left: -4rem;
        top: 40%;
        margin-top: -4rem; }
        .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton {
          text-align: center;
          padding: 2rem 0 2rem; }
          .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn {
            width: 8rem;
            height: 8rem;
            display: inline-block;
            position: relative;
            background: rgba(28, 27, 27, 0.8);
            border-radius: 50%;
            padding: 0.5rem 0;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            font: 2rem PFDinTextCondPro;
            font-weight: 400; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn .trackInfo {
              padding: 0.4em 0.2rem 0; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn img {
              width: 25%; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn p {
              margin: 0;
              line-height: 1.2;
              font-weight: 300;
              font-size: 1.2rem; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn .number {
              font-weight: 300; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn .composer {
              font-size: 1rem; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn p.bold {
              font-weight: 500; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn:before, .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn:after {
              content: "";
              border: 1px solid #fff;
              opacity: 0; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn:before {
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              position: absolute;
              border-radius: 50%; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn:after {
              top: -5px;
              right: -5px;
              bottom: -5px;
              left: -5px;
              position: absolute;
              border-radius: 50%; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn:before {
              -webkit-animation: disappearing 2s linear 0s infinite;
              -moz-animation: disappearing 2s linear 0s infinite;
              animation: disappearing 2s linear 0s infinite; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn:after {
              -webkit-animation: disappearing 2s linear 0s infinite;
              -moz-animation: disappearing 2s linear 0s infinite;
              animation: disappearing 2s linear 0s infinite; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn .rounded {
              -webkit-animation: disappearing 2s linear 0s infinite;
              -moz-animation: disappearing 2s linear 0s infinite;
              animation: disappearing 2s linear 0s infinite; }
              .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn .rounded:before {
                -webkit-animation: disappearing 2s linear 0s infinite;
                -moz-animation: disappearing 2s linear 0s infinite;
                animation: disappearing 2s linear 0s infinite; }
              .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .btn .rounded:after {
                -webkit-animation: disappearing 2s linear 0s infinite;
                -moz-animation: disappearing 2s linear 0s infinite;
                animation: disappearing 2s linear 0s infinite; }
          .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .rounded {
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            position: absolute;
            border-radius: 50%;
            border: 1px solid #fff;
            opacity: 0; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .rounded:before, .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .rounded:after {
              content: "";
              border: 1px solid #fff;
              opacity: 0; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .rounded:before {
              top: -7px;
              right: -7px;
              bottom: -7px;
              left: -7px;
              position: absolute;
              border-radius: 50%; }
            .podcastsWrap .allPodcasts .playlist .centralContent .trackWrapper .roundedButton .rounded:after {
              top: -12px;
              right: -12px;
              bottom: -12px;
              left: -12px;
              position: absolute;
              border-radius: 50%; }
