.contactsWrap {
  color: #ffffff;
  padding: 6rem 0 0;
  position: relative; }
  .contactsWrap .feedbackSuccess {
    position: fixed;
    bottom: 0.9375rem;
    right: 0.9375rem;
    padding: 0.625rem 0.9375rem;
    background: #000;
    color: #ffffff;
    z-index: 1; }
    .contactsWrap .feedbackSuccess h2 {
      font-family: PFDinTextCondPro;
      font-weight: 300; }
  .contactsWrap .header {
    text-align: center;
    color: #ffffff;
    font-family: PFDinTextCondPro;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.2rem; }
    .contactsWrap .header h1 {
      margin: 0 0 0.5rem; }
  .contactsWrap .contactsContent {
    width: 54rem;
    position: relative;
    margin: 0 auto 4.375rem; }
    .contactsWrap .contactsContent .feedback {
      float: left;
      width: 45%;
      margin-right: 10%; }
      .contactsWrap .contactsContent .feedback #feedbackForm {
        width: 100%;
        color: #000000;
        font-family: 'PFDinTextCondPro', sans-serif;
        font-size: 24px;
        font-weight: 300; }
        .contactsWrap .contactsContent .feedback #feedbackForm ::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #000000; }
        .contactsWrap .contactsContent .feedback #feedbackForm :-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #000000;
          opacity: 1; }
        .contactsWrap .contactsContent .feedback #feedbackForm ::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #000000;
          opacity: 1; }
        .contactsWrap .contactsContent .feedback #feedbackForm :-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #000000; }
        .contactsWrap .contactsContent .feedback #feedbackForm input, .contactsWrap .contactsContent .feedback #feedbackForm textarea {
          color: #000000;
          width: 100%;
          background-color: #ffffff;
          border: none;
          padding: 0.3125rem 0.9375rem;
          margin-bottom: 0.625rem;
          text-transform: uppercase; }
        .contactsWrap .contactsContent .feedback #feedbackForm textarea {
          height: 12.5rem; }
        .contactsWrap .contactsContent .feedback #feedbackForm button {
          color: #000000;
          background: #ffffff;
          float: right;
          border: none;
          text-transform: uppercase;
          padding: 0.3125rem 0.625rem;
          line-height: 1;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
          .contactsWrap .contactsContent .feedback #feedbackForm button:hover {
            color: #ffffff;
            background: #000000; }
    .contactsWrap .contactsContent .map {
      float: left;
      width: 45%; }
      .contactsWrap .contactsContent .map iframe {
        width: 100%;
        height: 25rem; }
  .contactsWrap .footer {
    width: 100%;
    background: #ffffff; }
    .contactsWrap .footer .footerContent {
      margin: 0 auto;
      padding: 40px 0;
      width: 54rem;
      color: #231f20; }
      .contactsWrap .footer .footerContent h5 {
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1;
        margin: 0; }
      .contactsWrap .footer .footerContent p {
        font-weight: 200;
        line-height: 1;
        margin: 0; }
      .contactsWrap .footer .footerContent .newProductsInfo {
        float: left;
        width: 30%;
        margin-right: 5%; }
        .contactsWrap .footer .footerContent .newProductsInfo .newProductsLogo {
          margin-bottom: 40px; }
      .contactsWrap .footer .footerContent .address {
        float: left;
        width: 15%;
        margin-right: 5%; }
      .contactsWrap .footer .footerContent .importer {
        float: left;
        width: 20%;
        margin-right: 5%; }
      .contactsWrap .footer .footerContent .exportDepartment {
        float: left;
        width: 20%; }

/*# sourceMappingURL=contacts.css.map */
