#checker {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#checker .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#checker {
  background-image: url("/img/user/introBg.jpg");
  position: relative;
  z-index: 19; }
  #checker .topOffset {
    padding-top: 5.5rem; }
  #checker .langsWrap {
    display: inline-block;
    padding: 0 0 0 1rem;
    vertical-align: middle; }
    #checker .langsWrap .isoLang {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: inline-block;
      margin: 0 0.1rem;
      padding: 0.3rem 0 0;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none; }
  #checker .langsWrap {
    display: block;
    margin: 0 auto;
    width: 7rem;
    text-align: center;
    padding: 3rem 0 2rem; }
  #checker .logo {
    height: 10.6rem;
    width: 13rem;
    margin-left: -6.5rem;
    left: 50%;
    position: relative;
    background-image: url("/img/user/introLogo.png"); }
  #checker #checkTitle {
    text-align: center;
    margin: -3rem 0 -6rem; }
  #checker .title {
    font: 5.2rem PFDinTextCondPro;
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 3px;
    padding: 2.35rem 0 20rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
  #checker .checkerBtns {
    opacity: 0;
    position: relative;
    text-align: center;
    padding: 2rem 0 6rem;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    #checker .checkerBtns.active {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
    #checker .checkerBtns .btn {
      display: inline-block;
      position: relative;
      width: 5.5rem;
      height: 5.5rem;
      margin: 0 7rem;
      padding: 1.1rem 0;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      color: #fff;
      font: 2.8rem PFDinTextCondPro;
      font-weight: 500; }
      #checker .checkerBtns .btn:before, #checker .checkerBtns .btn:after {
        content: "";
        border: 2px solid #fff;
        opacity: 0; }
      #checker .checkerBtns .btn:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        border-radius: 50%; }
      #checker .checkerBtns .btn:after {
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        position: absolute;
        border-radius: 50%; }
      #checker .checkerBtns .btn:hover:before {
        -webkit-animation: disappearing 2s linear 0s infinite;
        -moz-animation: disappearing 2s linear 0s infinite;
        animation: disappearing 2s linear 0s infinite; }
      #checker .checkerBtns .btn:hover:after {
        -webkit-animation: disappearing 2s linear 0.1s infinite;
        -moz-animation: disappearing 2s linear 0.1s infinite;
        animation: disappearing 2s linear 0.1s infinite; }
      #checker .checkerBtns .btn:hover .rounded {
        -webkit-animation: disappearing 2s linear 0.2s infinite;
        -moz-animation: disappearing 2s linear 0.2s infinite;
        animation: disappearing 2s linear 0.2s infinite; }
        #checker .checkerBtns .btn:hover .rounded:before {
          -webkit-animation: disappearing 2s linear 0.3s infinite;
          -moz-animation: disappearing 2s linear 0.3s infinite;
          animation: disappearing 2s linear 0.3s infinite; }
        #checker .checkerBtns .btn:hover .rounded:after {
          -webkit-animation: disappearing 2s linear 0.4s infinite;
          -moz-animation: disappearing 2s linear 0.4s infinite;
          animation: disappearing 2s linear 0.4s infinite; }
    #checker .checkerBtns .rounded {
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      position: absolute;
      border-radius: 50%;
      border: 2px solid #fff;
      opacity: 0; }
      #checker .checkerBtns .rounded:before, #checker .checkerBtns .rounded:after {
        content: "";
        border: 2px solid #fff;
        opacity: 0; }
      #checker .checkerBtns .rounded:before {
        top: -7px;
        right: -7px;
        bottom: -7px;
        left: -7px;
        position: absolute;
        border-radius: 50%; }
      #checker .checkerBtns .rounded:after {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        position: absolute;
        border-radius: 50%; }
