@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';

$playerContentSize: 22rem;
$logo_width: 5em;
$logo_height: 5em;
$prevNextTop: 16.5rem;
$prevNextBtnSize: 7rem;
$currentBtnSize: 10rem;
$currentBtnTop: 4rem;

.podcastWrap {

  color: #ffffff;
  padding: 6rem 0 3rem;
  position: relative;
  width: 54rem;
  margin: 0 auto;

  .header {
    text-align: center;
    color: #ffffff;
    font-family: PFDinTextCondPro;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.2rem;

    h1 {
      margin: 0;
      line-height: 1;

      span {
        font-weight: 300;
        font-size: 4.6rem;
        margin-left: -0.8rem;
      }
    }
  }

  .widgetWrapper {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: none;
  }

  #soundCloudWidget {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
  }

  .soundCloudPlayer {

    .trackWrapper {

      position: absolute;
      z-index: 1;

      .roundedButton {

        text-align: center;
        padding: 2rem 0 2rem;

        .btn {

          display: inline-block;
          position: relative;
          background: rgba(28, 27, 27, 0.8);
          border-radius: 50%;

          padding: 0.5rem 0;

          text-align: center;
          text-transform: uppercase;

          cursor: pointer;
          color: #fff;
          font: 2rem PFDinTextCondPro;
          font-weight: 400;

          img {
            width: 25%;
          }
          p {
            margin: 0;
            line-height: 1;
            font-weight: 300;
          }
          p.bold {
            font-weight: 500;
          }

          &:hover {
            cursor: pointer;
          }

          &:before,
          &:after {
            content: "";

            border: 1px solid #fff;

            opacity: 0;
          }

          &:before {
            @include emptyCircles(0);
          }

          &:after {
            @include emptyCircles(-5px);
          }

	        @import '../../../../../scss/blocks/circleAnimation.scss';
        }

        .rounded {
          @include emptyCircles(-10px);

          border: 1px solid #fff;
          opacity: 0;

          &:before,
          &:after {
            content: "";

            border: 1px solid #fff;

            opacity: 0;
          }

          &:before {
            @include emptyCircles(-7px);
          }

          &:after {
            @include emptyCircles(-12px);
          }
        }
      }
    }

    .prevTrackWrapper {
      left: -$prevNextBtnSize/2;
      top: $prevNextTop;

      .roundedButton {

        .btn {

          .trackInfo {

            padding-top: 0.4em;

            p {
              font-size: 1rem;
              line-height: 1.2;
              font-weight: 400;
            }

            .number {
              font-weight: 300;
            }

            .composer {
              font-size: 0.6rem;
            }
          }

          width: $prevNextBtnSize;
          height: $prevNextBtnSize;
        }
      }
    }


    .centralWrapper {

      position: relative;
      width: $playerContentSize;
      margin: 0 auto;

      .currentTrackWrapper {

        top: $currentBtnTop;
        left: 50%;
        margin-left: -$currentBtnSize/2;

        .roundedButton {

          .btn {

            width: $currentBtnSize;
            height: $currentBtnSize;

            .trackInfo {

              padding: 0.4em 0.2rem 0;

              p {
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: 400;
              }

              .number {
                font-weight: 300;
              }

              .composer {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .stripe {
        width: 100%;
        height: 5px;
        background: #ff3500;
        margin-bottom: 1px;
      }

      .centralContent {
        width: 100%;
        height: $playerContentSize;
        background: url('#{$img_path}playerBackground.png');
        position: relative;

        .playTrack {
          outline: none;

          background: #fa5100; /* Old browsers */
          background: -moz-linear-gradient(top, #fa5100 0%, #ff2601 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa5100), color-stop(100%,#ff2601)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #fa5100 0%,#ff2601 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #fa5100 0%,#ff2601 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #fa5100 0%,#ff2601 100%); /* IE10+ */
          background: linear-gradient(to bottom, #fa5100 0%,#ff2601 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5100', endColorstr='#ff2601',GradientType=0 ); /* IE6-9 */
          position: absolute;
          top: 0.8rem;
          left: 0.8rem;
          width: 3rem;
          height: 3rem;
          border: none;
          border-radius: 50%;

          img {
            width: 40%;
            margin: 3px 0 0 3px;
          }
        }

        .logo {
          @include size($logo_width $logo_height);
          margin-left: -$logo_width / 2;
          left: 50%;

          position: relative;
          top: 0.8rem;

          background-image: url('#{$img_path}introLogo.png');
          @extend %bg-image-contain;
        }
      }
    }

    .nextTrackWrapper {
      top: $prevNextTop;
      right: -$prevNextBtnSize/2;

      .roundedButton {

        .btn {

          .trackInfo {

            padding-top: 0.4em;

            p {
              font-size: 1rem;
              line-height: 1.2;
              font-weight: 400;
            }

            .number {
              font-weight: 300;
            }

            .composer {
              font-size: 0.6rem;
            }
          }

          width: $prevNextBtnSize;
          height: $prevNextBtnSize;
        }
      }
    }
  }

}

#marquee {

  a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;

    .thin {
      font-weight: 300;
    }
    .divider {
      margin: 0 5px;
      font-size: 1.6rem;
    }
  }
}